* {
    margin: 0;
    padding: 0;
    color: white;
}

body {  
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #08070f;
    color: white;
}

.setinha {
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 30px;
    width: 50px;
}

button {
    width: 50%;
    padding: 13px 30px;
    margin: 32px 0 -10px 0;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    color: black;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 1.5px;
    background-color: #ca0505;
    color: hsl(0, 0%, 100%);
    box-shadow: #CD0000 0px 7px 20px 0px;
  }
  
  button:active {
    letter-spacing: 1.5px;
    background-color: #860101;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(245, 245, 245);
    transform: translateY(10px);
    transition: 100ms;
  }

.linhas {
    position: absolute;
    width: 100%;
}

.fundo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    height: 100%;
    width: 50%;
}

.cadastro {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: transparent   ;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px 0 #921a1a;
    transition: 0.5s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 25px 0 #921a1a;
}

.card h1 {
    padding-bottom: 10px;
}

.input {
    position: relative;
    padding: 20px 0 0;
    margin: 8px 0 0;;
    width: 100%;
    max-width: 330px;
}

.campo {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    margin-bottom: 8px;
    background: transparent;
    transition: border-color 0.2s;
}

.campo::placeholder {
    color: transparent;
}

.campo:placeholder-shown ~ .caixa {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #868585;
    pointer-events: none;
}

.campo:focus {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 2px;
    border-image: white;
    border-image-slice: 1;
}

.campo:focus ~ .caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
}

.campo:required, .campo:invalid {
    box-shadow: none;
}


.olho {
    --color: #a5a5b0;
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.olho .eye {
    position: absolute;
    animation: keyframes-fill .5s;
}

.olho .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
}


.olho input:checked ~ .eye {
    display: none;
}

.olho input:checked ~ .eye-slash {
    display: block;
}

.olho input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }
}

.loading-div {
    width: 50px;
    display: none;
}