/* Cor 1: 08070F */

* {
    margin: 0;
    padding: 0;
    color: white;
}

html{
    scroll-behavior: smooth;
}

section {
    margin-right: 5px;
    width: 100vw;
    height: 100vh;
}

body {  
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #08070f;
    overflow-x: hidden;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    color: white;
}

li :hover {
    color: #CD0000;
    transition: 0.7s ease;
}

h1 {
    font-size: 85px;
    color: #CD0000;
}

h2 {
    color: transparent;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 1.1px white;
}

h3 {
    margin: 0px 0px 13px 0px;
    color: #CD0000;
    font-size: 53px;
}

h4 {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
}

h5 {
    color: transparent;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 0.8px white;
}

button {
    --color: #fff;
    font-family: inherit;
    display: inline-block;
    background-color: transparent;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 35px 0 0 0;
    font-size: 17px;
    z-index: 1;
    color: #fff;
    border: 2px solid #CD0000;
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: #CD0000;
    width: 240px;
    height: 250px;
    z-index: -1;
    border-radius: 40%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.6s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }

.navBar {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.nav-list {
    cursor: pointer;
    list-style: none;
    display: flex;
    padding-right: 160px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 60px;
}

.cdtr-log {
    cursor: pointer;
    list-style: none;
    display: flex;
    padding-right: 60px;
}

.cdtr-log li {
    letter-spacing: 3px;
    margin-left: 15px;
}

.imgNav {
    padding: 9px 0px 0px 0px;
    width: 170px;
    position: absolute;
    left: 100px;
}

.father-1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom left, #330006 -220%, #08070f 65%, #330006 100%);
}
    
.card-inicio1 {
    width: 43%;
}

.card-inicio1 h4 {
    font-size: 25px;
    margin-top: 15px;
}

.card-inicio2 {
    width: 30%;
}

.svg {
    width: 100%;
    max-width: 600px;  
}

.father-2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top left, #330006 -200%, #08070f 65%, #330006 100%);
    padding-top: 30px;
}

.child {
    height: 70.58%;
    display: flex;
}

.img-sobre {
    width: 95%;
    max-width: 950px;
    margin-left: 50px;
}

.text-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-sobre p {
    font-size: 14px;
}

.titulo-sobre {
    display: flex;
    align-items: center;
    justify-content: start;
}

.titulo-sobre h2 {
    margin-top: -14px;
    margin-left: 125px;
    font-size: 65px;
    -webkit-text-stroke: 1.1px rgba(255, 255, 255, 0.501);
}

.titulo-sobre h3 {
    margin: -15px 0px 2px 13px;
    font-size: 67px;
}

.objetivo {
    width: 60%;
    margin-left: 68px;
}

.objetivo h3 {
    margin: 13px 0px 8px 0px;
    font-size: 41px;
}

.valores {
    width: 60%;
    margin-left: 11px;
}

.valores h3 {
    margin: 20px 0px 8px 0px;
    font-size: 41px;
}

.visao {
    width: 60%;
    margin-left: -46px;
}

.visao h3 {
    margin: 20px 0px 8px 0px;
    font-size: 41px;
}

.father-3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background: linear-gradient(to bottom left, #330006 -220%, #08070f 65%, #330006 100%);
}

.father-card {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.text-beneficios {
    width: 45%;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.card-beneficios {
    position: relative;
    width: 27.5%;
    height: 55vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 12px 0px 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px white;
    transition: 0.5s ease;
}

#beneficios .card-beneficios:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 14px 0px #b0b0b0;
}

.img-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 23px;
}

.tam-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tam-p {
    width: 100%;
    height: 100%;
    max-width: 410px;
    z-index: 1;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.tam-p h3 {
    font-size: 33px;
}


.card-beneficios::before {
    content: "";
    position: absolute;
    width: 96%;
    height: 145%;
    background-color: white;
    animation: animacao 7s linear infinite;
}

.card-beneficios::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom left, #330006 -60%,#08070f 50%);;
    inset: 2px;
    border-radius: inherit;
}

@keyframes animacao {
    100%{
        transform:  rotate(360deg);
    }
}

.father-4 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background: linear-gradient(to top left, #330006 -200%, #08070f 65%, #330006 100%);
}

.portifolio {
    width: 80%;
    height: 73vh;
    transition: all 0.2s;
    position: relative;
    box-sizing: border-box;
}
  
.card-inner {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(7px);
    border-radius: 8px;
}
  
.portifolio:hover {
    transform: scale(1.03) rotate(0.5deg);
}
  
.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#CD0000, #08060f);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}
  
.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}
  
.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
}
  
@keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
}

.descricao {
    height: 80%;
    width: 53%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.descricao h3 {
    font-size: 38px;
}

.descricao p {
    font-size: 18px;
}

.foto {
    height: 80%;
    width: 28%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-foto {
    width: 100%;
    max-width: 290px;
    border-radius: 7px;
}

section.card {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 13px white;
    color: #ffffff;
}
  
.card__content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backdrop-filter: blur(7px);
    border-radius: 10px;
}
  
.card:hover .card__content {
    transform: rotateX(0deg);
}

.card h1 {
    font-size: 30px;
}

.card p {
    font-size: 17px;
}
  
.card__title {
    margin: 0;
    padding-left: 5px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
  
.card:hover svg {
    scale: 0;
}
  
.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

.rodape {
    background-color: #06070f;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icone {
    cursor: pointer;
    padding: 0 8px 0 8px;
    width: 38px;
    max-width: 38px;
}

.posicao-icones{
    display: flex;
}

.text-rodape {
    padding-top: 40px;
}

.text-rodape p {
    color: darkgray;
    font-size: 13px;
}